<!-- <ion-view title="Home" hide-back-button="true" id="page2">
  <ion-content padding="false" class="has-header">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <a class="list card" style="display:block;text-decoration:none;" ui-sref="tabs.homeDetail({slug:d.slug})" id="home-card21" ng-repeat="d in data">
      <ion-item class="item-thumbnail-left" id="home-list-item3" ui-sref="tabs.homeDetail()">
        <img ng-src="{{d.img}}">
        <h2>{{d.title}}</h2>
        <p style="white-space:normal;"> <br>{{d.year}} <br>  <span class="badge badge-assertive">{{d.rate}} </span>
         </p>
        <ion-option-button class="button-assertive"></ion-option-button>
      </ion-item>
    </a> 
    <ion-list id="movies-list4" ng-repeat="m in data">
      <ion-item class="item-thumbnail-left" id="movies-list-item23" ui-sref="tabsController.detail({id:m.slug})">
          <img src="{{m.img}}">
          <h2>{{m.title}}</h2>
          <p style="white-space:normal;">Date 20.02.2021
              <br> This is a sample. Cox this is know as sample. Ok</p>
      </ion-item>
  </ion-list>

    <ion-infinite-scroll ng-if="moreDataExists()" on-infinite="loadMore()" distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view> -->


<ion-view title="" hide-back-button="true" id="page2">
  <ion-content padding="false" class="has-header">
      <ion-refresher on-refresh="doRefresh()"></ion-refresher>

      <ion-list id="movies-list4">
          <ion-item class="item-thumbnail-left" id="movies-list-item23" ui-sref="tabs.homeDetail({slug:m.slug})"  ng-repeat="m in posts">
              <img ng-src="{{m.img}}" on-error-src="img/loading.gif"/>
              <h2>{{m.title}}</h2>
              <p style="white-space:normal;"> <br>{{m.year}} <br>  <span class="badge badge-assertive">{{m.rate}} </span>
              </p>
          </ion-item>
      </ion-list>

      <ion-infinite-scroll ng-if="moreDataExists()" on-infinite="loadMore()" distance="1%" immediate-check="false">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>