<!-- <ion-view title="catDetail" id="page10">
  <ion-content padding="true" class="has-header">
    <h4 id="catDetail-heading2" style="color:#000000;">Category Detail Title</h4>
    <div>
      <img src="img/vdK86hDn31gjtVJhMDB7ZMEAH8Z.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="catDetail-button-bar2" class="button-bar">
      <button id="catDetail-button20" class="button button-positive button-block">1</button>
      <button id="catDetail-button21" class="button button-positive button-block">2</button>
      <button id="catDetail-button22" class="button button-positive button-block">3</button>
    </div>
    <div id="catDetail-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="tabs.watch()" id="catDetail-button23" class="button button-assertive button-block">Tap me!</a>
  </ion-content>
</ion-view> -->

<ion-view title="" id="page5">
    <!-- <div class="bar bar-positive bar-subheader">
      <h2 class="title">{{news.title}}</h2>class="cattext"
  </div> -->
    <ion-content padding="true" class="has-header">
        <h3 id="about-heading1" style="color:#000000;text-align:center;">{{data.title}}</h3>


        <div>
            <img ng-src="{{data.img}}" style="display: block; width: 100%; height: 270px; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <div class="button-bar bar-positive">
            <a style="font-size: 14px;" class="cattext button button-tabs" ng-class="{'active': tabName=='Overview'}" ng-click="tabName='Overview'">
            OVERVIEW
        </a>
            <a style="font-size: 14px;" class="cattext button button-tabs" ng-class="{'active': tabName=='tab3'}" ng-click="tabName='tab3'">
            DOWNLOAD
        </a>
            <!-- <a class="button button-tabs" ng-class="{'active': tabName=='tab2'}" ng-click="tabName='tab2'">
            Info
        </a> -->
            <a style="font-size: 14px;" class="cattext button button-tabs" ng-class="{'active': tabName=='tab4'}" ng-click="tabName='tab4'">
            TRAILER
        </a>
        </div>


        <div ng-switch="tabName">
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <div ng-switch-when="Overview">
                <div class="card">
                    <ion-item ng-init="g=data.category">Genre<span class="badge badge-assertive">{{g}}</span> </ion-item>
                    <ion-item ng-init="d=data.director">Director<span class="badge badge-assertive">{{d}}</span> </ion-item>
                </div>
                <p class="mmtext">{{data.description}}</p>
            </div>
            <div class="card" ng-switch-when="tab2">
                <ion-list>
                    <ion-item ng-init="g=data.category">Genre<span class="badge badge-assertive">{{g}}</span> </ion-item>
                    <ion-item ng-init="d=data.director">Director<span class="badge badge-assertive">{{d}}</span> </ion-item>
                </ion-list>

                <!-- <span class="badge badge-assertive">{{data.category}}</span> -->
            </div>
            <div ng-switch-when="tab3">
                <div class="spacer" style="width: 300px; height: 30px;"></div>
                <ion-list>
                    <ion-item href="{{d.url}}" target="_blank" ng-repeat="d in data.download">{{d.site}}<span class="badge badge-assertive">{{d.size}}</span> </ion-item>
                </ion-list>
                <div class="spacer" style="width: 300px; height: 15px;"></div>

                <ion-list>
                    <a class="item-icon-left assertive item" href="{{p.url}}" target="_blank" ng-repeat="p in data.mega"><i class="icon ion-ios-play"></i>Mega.nz (Only PC)</a>
                    <a class="item-icon-left assertive item" ui-sref="tabs.watch({id:p.url})" ng-repeat="p in data.yadi"><i class="icon ion-ios-play"></i>Yandex (PC and Mobile)</a>
                </ion-list>
            </div>
            <div class="card" ng-switch-when="tab4">
                <div class="spacer" style="width: 300px; height: 15px;"></div>
                <div ng-init="tube=data.embedUrl+'?rel=0&amp;showinfo=0'" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="setting-video1">
                    <iframe src="{{data.embedUrl}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>