<ion-view title="Setting" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="setting-form1" class="list">
      <label class="item item-input" id="setting-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-select" id="setting-select1">
        <span class="input-label">Select</span>
        <select>
          <option>Action</option>
          <option>Drama</option>
          <option>Popular</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <ion-item class="range range-assertive" id="setting-range1">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="setting-toggle1">Notification</ion-toggle>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <ion-radio id="setting-radio1" name="color">Red</ion-radio>
      <ion-radio id="setting-radio2" name="color">Blue</ion-radio>
    </form>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <form id="setting-form2" class="list">
      <ion-checkbox id="setting-checkbox1" class="type">Felmale</ion-checkbox>
      <ion-checkbox id="setting-checkbox2" class="type">Male</ion-checkbox>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <button id="setting-button2" class="button button-positive button-block">Tap me!</button>
      <button id="setting-button9" class="button button-assertive button-block icon-left ion-android-bulb">Tap me!</button>
      <button id="setting-button10" class="button button-balanced button-block">Tap me!</button>
      <button id="setting-button11" class="button button-energized button-block">Tap me!</button>
      <button id="setting-button12" class="button button-royal button-block">Tap me!</button>
      <div style="margin-right:-20px;">
        <button id="setting-button13" style="left:-10px;" class="button button-dark button-full">Tap me!</button>
      </div>
      <button id="setting-button14" class="button button-dark">Tap me!</button>
      <button id="setting-button15" class="button button-light">Tap me!</button>
      <button id="setting-button16" class="button button-calm">Tap me!</button>
      <div id="setting-button-bar1" class="button-bar">
        <button id="setting-button6" class="button button-positive button-block">1</button>
        <button id="setting-button7" class="button button-positive button-block">2</button>
        <button id="setting-button8" class="button button-positive button-block">3</button>
      </div>
    </form>
  </ion-content>
</ion-view>